{% load manifest %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block seo_title %}Tasman{% endblock %}</title>
    {% manifest_match '*.css' '<link href="{match}" rel="preload" as="style">' %}
    {% manifest_match '*.js' '<link href="{match}" rel="preload" as="script">' %}
    {% manifest_match '*.css' '<link href="{match}" rel="stylesheet">' %}
    {% manifest_match 'favicon.svg' '<link rel="icon" href="{match}" type="image/svg+xml">' %}
    <meta name="theme-color" content="#222736">
</head>
<body>
<div id="tasman">
    {% block content %}{% endblock %}
</div>
{% manifest_match '*.js' '<script src="{match}" async></script>' %}
</body>
</html>